body {
    color:red;
}

html, body, .container-fluid, .row {
    height: 100%;
}

.detail {
  background-color: #FFFFF;
  z-index: 1000;
  max-height: 400px;
  min-height: 400px;
  width: 100%;
  overflow: auto;
}

.edited {
  color: red;
}

.unedited {
  color: black;
}

.icon {
  padding-right: 2px;
  padding-bottom: 3px;
  vertical-align: middle;
}

.submit-button {
  padding-top: 5px;
  padding-right: 0px;
}

.detail-entry {
  padding: 1px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
//  max-width: 100%;
}
