body {
  color: red;
}
html,
body,
.container-fluid,
.row {
  height: 100%;
}
.detail {
  background-color: #FFFFF;
  z-index: 1000;
}
.detail-entry {
  white-space: nowrap;
  overflow: hidden;
  float: left;
  text-overflow: ellipsis;
  max-width: 95%;
}
.sidebar {
  background-color: #CCCCCC;
}
